<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1> Testing Mongo Database </h1>
        <form action="/changeip" method="post">
            New IP: <input type="text" name="ipnum">
            <input type="submit" name="Subl">
        </form>

        <br>

        <h3> Search for a pokemon </h3>
        <form action="/pokepage" method="post">
            Pokemon Name: <input type="text" name="pokeid">
            <input type="submit" name="subPoke">
        </form>
    </body>
</html>
